body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1894px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3304_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:104px;
  background:inherit;
  background-color:rgba(56, 94, 169, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3304 {
  position:absolute;
  left:-13px;
  top:0px;
  width:1920px;
  height:104px;
}
#u3305 {
  position:absolute;
  left:2px;
  top:44px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3306_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:74px;
}
#u3306 {
  position:absolute;
  left:1596px;
  top:15px;
  width:74px;
  height:74px;
}
#u3307 {
  position:absolute;
  left:2px;
  top:29px;
  width:70px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3308_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u3308 {
  position:absolute;
  left:1680px;
  top:34px;
  width:129px;
  height:37px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u3309 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u3310_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:42px;
}
#u3310 {
  position:absolute;
  left:24px;
  top:34px;
  width:50px;
  height:42px;
}
#u3311 {
  position:absolute;
  left:2px;
  top:13px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3312_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:19px;
}
#u3312 {
  position:absolute;
  left:1813px;
  top:43px;
  width:21px;
  height:19px;
}
#u3313 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3314_div {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:30px;
}
#u3314 {
  position:absolute;
  left:321px;
  top:150px;
  width:123px;
  height:35px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:30px;
}
#u3315 {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  white-space:nowrap;
}
#u3316_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1670px;
  height:2px;
}
#u3316 {
  position:absolute;
  left:238px;
  top:197px;
  width:1669px;
  height:1px;
}
#u3317 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1665px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3318_div {
  position:absolute;
  left:0px;
  top:0px;
  width:467px;
  height:906px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3318 {
  position:absolute;
  left:268px;
  top:254px;
  width:467px;
  height:906px;
}
#u3319 {
  position:absolute;
  left:2px;
  top:445px;
  width:463px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3320_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:64px;
}
#u3320 {
  position:absolute;
  left:309px;
  top:332px;
  width:64px;
  height:64px;
}
#u3321 {
  position:absolute;
  left:2px;
  top:24px;
  width:60px;
  word-wrap:break-word;
}
#u3322_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:64px;
}
#u3322 {
  position:absolute;
  left:389px;
  top:332px;
  width:64px;
  height:64px;
}
#u3323 {
  position:absolute;
  left:2px;
  top:24px;
  width:60px;
  word-wrap:break-word;
}
#u3324_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:64px;
}
#u3324 {
  position:absolute;
  left:469px;
  top:332px;
  width:64px;
  height:64px;
}
#u3325 {
  position:absolute;
  left:2px;
  top:24px;
  width:60px;
  word-wrap:break-word;
}
#u3326_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:64px;
}
#u3326 {
  position:absolute;
  left:550px;
  top:332px;
  width:64px;
  height:64px;
}
#u3327 {
  position:absolute;
  left:2px;
  top:24px;
  width:60px;
  word-wrap:break-word;
}
#u3328_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:64px;
}
#u3328 {
  position:absolute;
  left:630px;
  top:332px;
  width:64px;
  height:64px;
}
#u3329 {
  position:absolute;
  left:2px;
  top:24px;
  width:60px;
  word-wrap:break-word;
}
#u3330_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:64px;
}
#u3330 {
  position:absolute;
  left:309px;
  top:418px;
  width:64px;
  height:64px;
}
#u3331 {
  position:absolute;
  left:2px;
  top:24px;
  width:60px;
  word-wrap:break-word;
}
#u3332_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:64px;
}
#u3332 {
  position:absolute;
  left:389px;
  top:418px;
  width:64px;
  height:64px;
}
#u3333 {
  position:absolute;
  left:2px;
  top:24px;
  width:60px;
  word-wrap:break-word;
}
#u3334_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:64px;
}
#u3334 {
  position:absolute;
  left:469px;
  top:418px;
  width:64px;
  height:64px;
}
#u3335 {
  position:absolute;
  left:2px;
  top:24px;
  width:60px;
  word-wrap:break-word;
}
#u3336_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:64px;
}
#u3336 {
  position:absolute;
  left:550px;
  top:418px;
  width:64px;
  height:64px;
}
#u3337 {
  position:absolute;
  left:2px;
  top:24px;
  width:60px;
  word-wrap:break-word;
}
#u3338_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:64px;
}
#u3338 {
  position:absolute;
  left:630px;
  top:418px;
  width:64px;
  height:64px;
}
#u3339 {
  position:absolute;
  left:2px;
  top:24px;
  width:60px;
  word-wrap:break-word;
}
#u3340_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:64px;
}
#u3340 {
  position:absolute;
  left:309px;
  top:516px;
  width:64px;
  height:64px;
}
#u3341 {
  position:absolute;
  left:2px;
  top:24px;
  width:60px;
  word-wrap:break-word;
}
#u3342_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:64px;
}
#u3342 {
  position:absolute;
  left:389px;
  top:516px;
  width:64px;
  height:64px;
}
#u3343 {
  position:absolute;
  left:2px;
  top:24px;
  width:60px;
  word-wrap:break-word;
}
#u3344_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:64px;
}
#u3344 {
  position:absolute;
  left:469px;
  top:516px;
  width:64px;
  height:64px;
}
#u3345 {
  position:absolute;
  left:2px;
  top:24px;
  width:60px;
  word-wrap:break-word;
}
#u3346_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:64px;
}
#u3346 {
  position:absolute;
  left:550px;
  top:516px;
  width:64px;
  height:64px;
}
#u3347 {
  position:absolute;
  left:2px;
  top:24px;
  width:60px;
  word-wrap:break-word;
}
#u3348_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:64px;
}
#u3348 {
  position:absolute;
  left:630px;
  top:516px;
  width:64px;
  height:64px;
}
#u3349 {
  position:absolute;
  left:2px;
  top:24px;
  width:60px;
  word-wrap:break-word;
}
#u3350_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:64px;
}
#u3350 {
  position:absolute;
  left:309px;
  top:607px;
  width:64px;
  height:64px;
}
#u3351 {
  position:absolute;
  left:2px;
  top:24px;
  width:60px;
  word-wrap:break-word;
}
#u3352_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:64px;
}
#u3352 {
  position:absolute;
  left:389px;
  top:607px;
  width:64px;
  height:64px;
}
#u3353 {
  position:absolute;
  left:2px;
  top:24px;
  width:60px;
  word-wrap:break-word;
}
#u3354_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:64px;
}
#u3354 {
  position:absolute;
  left:469px;
  top:607px;
  width:64px;
  height:64px;
}
#u3355 {
  position:absolute;
  left:2px;
  top:24px;
  width:60px;
  word-wrap:break-word;
}
#u3356_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:64px;
}
#u3356 {
  position:absolute;
  left:550px;
  top:607px;
  width:64px;
  height:64px;
}
#u3357 {
  position:absolute;
  left:2px;
  top:24px;
  width:60px;
  word-wrap:break-word;
}
#u3358_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:64px;
}
#u3358 {
  position:absolute;
  left:630px;
  top:607px;
  width:64px;
  height:64px;
}
#u3359 {
  position:absolute;
  left:2px;
  top:24px;
  width:60px;
  word-wrap:break-word;
}
#u3360_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1103px;
  height:906px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3360 {
  position:absolute;
  left:783px;
  top:254px;
  width:1103px;
  height:906px;
}
#u3361 {
  position:absolute;
  left:2px;
  top:445px;
  width:1099px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3362_img {
  position:absolute;
  left:0px;
  top:0px;
  width:866px;
  height:94px;
}
#u3362 {
  position:absolute;
  left:902px;
  top:361px;
  width:865px;
  height:93px;
}
#u3363 {
  position:absolute;
  left:2px;
  top:38px;
  width:861px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3364_div {
  position:absolute;
  left:0px;
  top:0px;
  width:659px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:3px 3px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:3px 3px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:3px 3px 5px rgba(0, 0, 0, 0.349019607843137);
  font-size:30px;
  text-align:left;
}
#u3364 {
  position:absolute;
  left:902px;
  top:528px;
  width:659px;
  height:64px;
  font-size:30px;
  text-align:left;
}
#u3365 {
  position:absolute;
  left:2px;
  top:14px;
  width:655px;
  word-wrap:break-word;
}
#u3366_div {
  position:absolute;
  left:0px;
  top:0px;
  width:659px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:3px 3px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:3px 3px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:3px 3px 5px rgba(0, 0, 0, 0.349019607843137);
  font-size:30px;
  text-align:left;
}
#u3366 {
  position:absolute;
  left:902px;
  top:607px;
  width:659px;
  height:64px;
  font-size:30px;
  text-align:left;
}
#u3367 {
  position:absolute;
  left:2px;
  top:14px;
  width:655px;
  word-wrap:break-word;
}
#u3368_div {
  position:absolute;
  left:0px;
  top:0px;
  width:659px;
  height:64px;
  background:inherit;
  background-color:rgba(0, 255, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:3px 3px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:3px 3px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:3px 3px 5px rgba(0, 0, 0, 0.349019607843137);
  font-size:30px;
  text-align:left;
}
#u3368 {
  position:absolute;
  left:902px;
  top:681px;
  width:659px;
  height:64px;
  font-size:30px;
  text-align:left;
}
#u3369 {
  position:absolute;
  left:2px;
  top:14px;
  width:655px;
  word-wrap:break-word;
}
#u3370_div {
  position:absolute;
  left:0px;
  top:0px;
  width:659px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:3px 3px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:3px 3px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:3px 3px 5px rgba(0, 0, 0, 0.349019607843137);
  font-size:30px;
  text-align:left;
}
#u3370 {
  position:absolute;
  left:902px;
  top:755px;
  width:659px;
  height:64px;
  font-size:30px;
  text-align:left;
}
#u3371 {
  position:absolute;
  left:2px;
  top:14px;
  width:655px;
  word-wrap:break-word;
}
#u3372_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:50px;
}
#u3372 {
  position:absolute;
  left:1697px;
  top:1049px;
  width:60px;
  height:50px;
}
#u3373 {
  position:absolute;
  left:2px;
  top:17px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3374_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:50px;
}
#u3374 {
  position:absolute;
  left:874px;
  top:1039px;
  width:60px;
  height:50px;
}
#u3375 {
  position:absolute;
  left:2px;
  top:17px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3376_div {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:30px;
}
#u3376 {
  position:absolute;
  left:959px;
  top:1052px;
  width:92px;
  height:35px;
  font-size:30px;
}
#u3377 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u3378_div {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:30px;
}
#u3378 {
  position:absolute;
  left:1578px;
  top:1062px;
  width:92px;
  height:35px;
  font-size:30px;
}
#u3379 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u3380_div {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u3380 {
  position:absolute;
  left:809px;
  top:389px;
  width:83px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u3381 {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  white-space:nowrap;
}
#u3382_div {
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:1102px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3382 {
  position:absolute;
  left:-13px;
  top:104px;
  width:251px;
  height:1102px;
}
#u3383 {
  position:absolute;
  left:2px;
  top:543px;
  width:247px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3384_div {
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:75px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3384 {
  position:absolute;
  left:-13px;
  top:388px;
  width:251px;
  height:75px;
}
#u3385 {
  position:absolute;
  left:2px;
  top:30px;
  width:247px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3386_div {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u3386 {
  position:absolute;
  left:24px;
  top:174px;
  width:160px;
  height:47px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u3387 {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  word-wrap:break-word;
}
#u3388_div {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u3388 {
  position:absolute;
  left:24px;
  top:253px;
  width:160px;
  height:47px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u3389 {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  word-wrap:break-word;
}
#u3390_div {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u3390 {
  position:absolute;
  left:24px;
  top:331px;
  width:160px;
  height:47px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u3391 {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  word-wrap:break-word;
}
#u3392_div {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u3392 {
  position:absolute;
  left:24px;
  top:410px;
  width:160px;
  height:47px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u3393 {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  word-wrap:break-word;
}
#u3394_div {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u3394 {
  position:absolute;
  left:24px;
  top:495px;
  width:160px;
  height:47px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u3395 {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  word-wrap:break-word;
}
#u3396_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:24px;
}
#u3396 {
  position:absolute;
  left:1476px;
  top:153px;
  width:49px;
  height:23px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:24px;
}
#u3397 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u3398_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:24px;
}
#u3398 {
  position:absolute;
  left:1578px;
  top:153px;
  width:49px;
  height:23px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:24px;
}
#u3399 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
