body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1920px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3895_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1206px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:30px;
}
#u3895 {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1206px;
  font-size:30px;
}
#u3896 {
  position:absolute;
  left:2px;
  top:595px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3897_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:104px;
  background:inherit;
  background-color:rgba(56, 94, 169, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3897 {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:104px;
}
#u3898 {
  position:absolute;
  left:2px;
  top:44px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3899_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:74px;
}
#u3899 {
  position:absolute;
  left:1609px;
  top:15px;
  width:74px;
  height:74px;
}
#u3900 {
  position:absolute;
  left:2px;
  top:29px;
  width:70px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3901_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u3901 {
  position:absolute;
  left:1693px;
  top:34px;
  width:129px;
  height:37px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u3902 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u3903_div {
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:1102px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3903 {
  position:absolute;
  left:0px;
  top:104px;
  width:251px;
  height:1102px;
}
#u3904 {
  position:absolute;
  left:2px;
  top:543px;
  width:247px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3905_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:42px;
}
#u3905 {
  position:absolute;
  left:37px;
  top:34px;
  width:50px;
  height:42px;
}
#u3906 {
  position:absolute;
  left:2px;
  top:13px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3907_div {
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:75px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3907 {
  position:absolute;
  left:0px;
  top:236px;
  width:251px;
  height:75px;
}
#u3908 {
  position:absolute;
  left:2px;
  top:30px;
  width:247px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3909_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:19px;
}
#u3909 {
  position:absolute;
  left:1826px;
  top:43px;
  width:21px;
  height:19px;
}
#u3910 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3911_div {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u3911 {
  position:absolute;
  left:37px;
  top:174px;
  width:160px;
  height:47px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u3912 {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  word-wrap:break-word;
}
#u3913_div {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u3913 {
  position:absolute;
  left:37px;
  top:253px;
  width:160px;
  height:47px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u3914 {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  word-wrap:break-word;
}
#u3915_div {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u3915 {
  position:absolute;
  left:37px;
  top:331px;
  width:160px;
  height:47px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u3916 {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  word-wrap:break-word;
}
#u3917_div {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u3917 {
  position:absolute;
  left:37px;
  top:410px;
  width:160px;
  height:47px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u3918 {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  word-wrap:break-word;
}
#u3919_div {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u3919 {
  position:absolute;
  left:37px;
  top:495px;
  width:160px;
  height:47px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u3920 {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  word-wrap:break-word;
}
#u3921_div {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:30px;
}
#u3921 {
  position:absolute;
  left:326px;
  top:150px;
  width:123px;
  height:35px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:30px;
}
#u3922 {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  white-space:nowrap;
}
#u3923_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1670px;
  height:2px;
}
#u3923 {
  position:absolute;
  left:251px;
  top:195px;
  width:1669px;
  height:1px;
}
#u3924 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1665px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3925_div {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:30px;
}
#u3925 {
  position:absolute;
  left:326px;
  top:278px;
  width:153px;
  height:35px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:30px;
}
#u3926 {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  white-space:nowrap;
}
#u3927_div {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:30px;
}
#u3927 {
  position:absolute;
  left:326px;
  top:372px;
  width:153px;
  height:35px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:30px;
}
#u3928 {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  white-space:nowrap;
}
#u3929_div {
  position:absolute;
  left:0px;
  top:0px;
  width:366px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:30px;
}
#u3929 {
  position:absolute;
  left:523px;
  top:278px;
  width:366px;
  height:35px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:30px;
}
#u3930 {
  position:absolute;
  left:0px;
  top:0px;
  width:366px;
  white-space:nowrap;
}
#u3931_div {
  position:absolute;
  left:0px;
  top:0px;
  width:829px;
  height:145px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3931 {
  position:absolute;
  left:523px;
  top:372px;
  width:829px;
  height:145px;
}
#u3932 {
  position:absolute;
  left:2px;
  top:64px;
  width:825px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3933 {
  position:absolute;
  left:566px;
  top:410px;
  width:157px;
  height:35px;
  font-size:30px;
}
#u3934 {
  position:absolute;
  left:16px;
  top:0px;
  width:139px;
  word-wrap:break-word;
}
#u3933_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u3935 {
  position:absolute;
  left:859px;
  top:410px;
  width:157px;
  height:35px;
  font-size:30px;
}
#u3936 {
  position:absolute;
  left:16px;
  top:0px;
  width:139px;
  word-wrap:break-word;
}
#u3935_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u3937_div {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:30px;
}
#u3937 {
  position:absolute;
  left:326px;
  top:587px;
  width:153px;
  height:35px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:30px;
}
#u3938 {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  white-space:nowrap;
}
#u3939_div {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:30px;
}
#u3939 {
  position:absolute;
  left:326px;
  top:686px;
  width:153px;
  height:35px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:30px;
}
#u3940 {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  white-space:nowrap;
}
#u3941 {
  position:absolute;
  left:523px;
  top:587px;
  width:315px;
  height:46px;
}
#u3941_input {
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  height:46px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u3942 {
  position:absolute;
  left:523px;
  top:675px;
  width:315px;
  height:46px;
}
#u3942_input {
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  height:46px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u3943_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:30px;
}
#u3943 {
  position:absolute;
  left:890px;
  top:782px;
  width:140px;
  height:40px;
  font-size:30px;
}
#u3944 {
  position:absolute;
  left:2px;
  top:2px;
  width:136px;
  word-wrap:break-word;
}
