<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div style="width:75%;margin:auto;margin-top:100px">
        <h1><%= title %></h1>
        <p>Welcome to <%= title %></p>
        <li><a href="./doc/database">数据库文档</a></li>
    </div>  
</body>
</html>