body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1920px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1946_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:104px;
  background:inherit;
  background-color:rgba(56, 94, 169, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1946 {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:104px;
}
#u1947 {
  position:absolute;
  left:2px;
  top:44px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1948_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:74px;
}
#u1948 {
  position:absolute;
  left:1609px;
  top:15px;
  width:74px;
  height:74px;
}
#u1949 {
  position:absolute;
  left:2px;
  top:29px;
  width:70px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1950_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1950 {
  position:absolute;
  left:1693px;
  top:34px;
  width:129px;
  height:37px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1951 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u1952_div {
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:1102px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1952 {
  position:absolute;
  left:0px;
  top:104px;
  width:251px;
  height:1102px;
}
#u1953 {
  position:absolute;
  left:2px;
  top:543px;
  width:247px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1954_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:42px;
}
#u1954 {
  position:absolute;
  left:37px;
  top:34px;
  width:50px;
  height:42px;
}
#u1955 {
  position:absolute;
  left:2px;
  top:13px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1956_div {
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:75px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1956 {
  position:absolute;
  left:0px;
  top:160px;
  width:251px;
  height:75px;
}
#u1957 {
  position:absolute;
  left:2px;
  top:30px;
  width:247px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1958_div {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1958 {
  position:absolute;
  left:37px;
  top:174px;
  width:160px;
  height:47px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1959 {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  word-wrap:break-word;
}
#u1960_div {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1960 {
  position:absolute;
  left:37px;
  top:253px;
  width:160px;
  height:47px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1961 {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  word-wrap:break-word;
}
#u1962_div {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1962 {
  position:absolute;
  left:37px;
  top:331px;
  width:160px;
  height:47px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1963 {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  word-wrap:break-word;
}
#u1964_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:19px;
}
#u1964 {
  position:absolute;
  left:1826px;
  top:43px;
  width:21px;
  height:19px;
}
#u1965 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1966_div {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1966 {
  position:absolute;
  left:37px;
  top:410px;
  width:160px;
  height:47px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1967 {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  word-wrap:break-word;
}
#u1968_div {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1968 {
  position:absolute;
  left:37px;
  top:495px;
  width:160px;
  height:47px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1969 {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  word-wrap:break-word;
}
#u1970_div {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:30px;
}
#u1970 {
  position:absolute;
  left:326px;
  top:151px;
  width:123px;
  height:35px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:30px;
}
#u1971 {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  white-space:nowrap;
}
#u1972_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1670px;
  height:2px;
}
#u1972 {
  position:absolute;
  left:251px;
  top:195px;
  width:1669px;
  height:1px;
}
#u1973 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1665px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1974_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1112px;
  height:195px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
  color:#949494;
  text-align:left;
}
#u1974 {
  position:absolute;
  left:450px;
  top:287px;
  width:1112px;
  height:195px;
  font-size:24px;
  color:#949494;
  text-align:left;
}
#u1975 {
  position:absolute;
  left:2px;
  top:2px;
  width:1108px;
  word-wrap:break-word;
}
#u1976 {
  position:absolute;
  left:612px;
  top:542px;
  width:100px;
  height:29px;
  font-size:24px;
  text-align:center;
}
#u1977 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u1976_input {
  position:absolute;
  left:-3px;
  top:4px;
}
#u1978 {
  position:absolute;
  left:772px;
  top:542px;
  width:100px;
  height:29px;
  font-size:24px;
  text-align:center;
}
#u1979 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u1978_input {
  position:absolute;
  left:-3px;
  top:4px;
}
#u1980 {
  position:absolute;
  left:940px;
  top:542px;
  width:100px;
  height:29px;
  font-size:24px;
  text-align:center;
}
#u1981 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u1980_input {
  position:absolute;
  left:-3px;
  top:4px;
}
#u1982_div {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1982 {
  position:absolute;
  left:450px;
  top:542px;
  width:121px;
  height:29px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1983 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u1984_div {
  position:absolute;
  left:0px;
  top:0px;
  width:625px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
  color:#949494;
  text-align:left;
}
#u1984 {
  position:absolute;
  left:450px;
  top:621px;
  width:625px;
  height:45px;
  font-size:24px;
  color:#949494;
  text-align:left;
}
#u1985 {
  position:absolute;
  left:2px;
  top:8px;
  width:621px;
  word-wrap:break-word;
}
#u1986_div {
  position:absolute;
  left:0px;
  top:0px;
  width:625px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
  color:#949494;
  text-align:left;
}
#u1986 {
  position:absolute;
  left:450px;
  top:699px;
  width:625px;
  height:45px;
  font-size:24px;
  color:#949494;
  text-align:left;
}
#u1987 {
  position:absolute;
  left:2px;
  top:8px;
  width:621px;
  word-wrap:break-word;
}
#u1988_div {
  position:absolute;
  left:0px;
  top:0px;
  width:625px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
  color:#949494;
  text-align:left;
}
#u1988 {
  position:absolute;
  left:450px;
  top:777px;
  width:625px;
  height:45px;
  font-size:24px;
  color:#949494;
  text-align:left;
}
#u1989 {
  position:absolute;
  left:2px;
  top:8px;
  width:621px;
  word-wrap:break-word;
}
#u1990_div {
  position:absolute;
  left:0px;
  top:0px;
  width:625px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
  color:#949494;
  text-align:left;
}
#u1990 {
  position:absolute;
  left:450px;
  top:855px;
  width:625px;
  height:45px;
  font-size:24px;
  color:#949494;
  text-align:left;
}
#u1991 {
  position:absolute;
  left:2px;
  top:8px;
  width:621px;
  word-wrap:break-word;
}
#u1992 {
  position:absolute;
  left:1113px;
  top:629px;
  width:127px;
  height:29px;
  font-size:24px;
  text-align:center;
}
#u1993 {
  position:absolute;
  left:16px;
  top:0px;
  width:109px;
  word-wrap:break-word;
}
#u1992_input {
  position:absolute;
  left:-3px;
  top:4px;
}
#u1994 {
  position:absolute;
  left:1113px;
  top:707px;
  width:127px;
  height:29px;
  font-size:24px;
  text-align:center;
}
#u1995 {
  position:absolute;
  left:16px;
  top:0px;
  width:109px;
  word-wrap:break-word;
}
#u1994_input {
  position:absolute;
  left:-3px;
  top:4px;
}
#u1996 {
  position:absolute;
  left:1113px;
  top:785px;
  width:127px;
  height:29px;
  font-size:24px;
  text-align:center;
}
#u1997 {
  position:absolute;
  left:16px;
  top:0px;
  width:109px;
  word-wrap:break-word;
}
#u1996_input {
  position:absolute;
  left:-3px;
  top:4px;
}
#u1998 {
  position:absolute;
  left:1113px;
  top:863px;
  width:127px;
  height:29px;
  font-size:24px;
  text-align:center;
}
#u1999 {
  position:absolute;
  left:16px;
  top:0px;
  width:109px;
  word-wrap:break-word;
}
#u1998_input {
  position:absolute;
  left:-3px;
  top:4px;
}
#u2000_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:32px;
}
#u2000 {
  position:absolute;
  left:1383px;
  top:629px;
  width:35px;
  height:32px;
}
#u2001 {
  position:absolute;
  left:2px;
  top:8px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2002_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:33px;
}
#u2002 {
  position:absolute;
  left:1442px;
  top:629px;
  width:38px;
  height:33px;
}
#u2003 {
  position:absolute;
  left:2px;
  top:8px;
  width:34px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2004_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:18px;
}
#u2004 {
  position:absolute;
  left:1274px;
  top:636px;
  width:32px;
  height:18px;
}
#u2005 {
  position:absolute;
  left:2px;
  top:1px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2006_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:17px;
}
#u2006 {
  position:absolute;
  left:1326px;
  top:637px;
  width:30px;
  height:17px;
}
#u2007 {
  position:absolute;
  left:2px;
  top:0px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2008_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:32px;
}
#u2008 {
  position:absolute;
  left:1383px;
  top:705px;
  width:35px;
  height:32px;
}
#u2009 {
  position:absolute;
  left:2px;
  top:8px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2010_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:33px;
}
#u2010 {
  position:absolute;
  left:1442px;
  top:705px;
  width:38px;
  height:33px;
}
#u2011 {
  position:absolute;
  left:2px;
  top:8px;
  width:34px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2012_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:18px;
}
#u2012 {
  position:absolute;
  left:1274px;
  top:712px;
  width:32px;
  height:18px;
}
#u2013 {
  position:absolute;
  left:2px;
  top:1px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2014_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:17px;
}
#u2014 {
  position:absolute;
  left:1326px;
  top:713px;
  width:30px;
  height:17px;
}
#u2015 {
  position:absolute;
  left:2px;
  top:0px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2016_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:32px;
}
#u2016 {
  position:absolute;
  left:1383px;
  top:785px;
  width:35px;
  height:32px;
}
#u2017 {
  position:absolute;
  left:2px;
  top:8px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2018_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:33px;
}
#u2018 {
  position:absolute;
  left:1442px;
  top:785px;
  width:38px;
  height:33px;
}
#u2019 {
  position:absolute;
  left:2px;
  top:8px;
  width:34px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2020_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:18px;
}
#u2020 {
  position:absolute;
  left:1274px;
  top:792px;
  width:32px;
  height:18px;
}
#u2021 {
  position:absolute;
  left:2px;
  top:1px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2022_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:17px;
}
#u2022 {
  position:absolute;
  left:1326px;
  top:793px;
  width:30px;
  height:17px;
}
#u2023 {
  position:absolute;
  left:2px;
  top:0px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2024_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:32px;
}
#u2024 {
  position:absolute;
  left:1383px;
  top:859px;
  width:35px;
  height:32px;
}
#u2025 {
  position:absolute;
  left:2px;
  top:8px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2026_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:33px;
}
#u2026 {
  position:absolute;
  left:1442px;
  top:859px;
  width:38px;
  height:33px;
}
#u2027 {
  position:absolute;
  left:2px;
  top:8px;
  width:34px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2028_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:18px;
}
#u2028 {
  position:absolute;
  left:1274px;
  top:866px;
  width:32px;
  height:18px;
}
#u2029 {
  position:absolute;
  left:2px;
  top:1px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2030_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:17px;
}
#u2030 {
  position:absolute;
  left:1326px;
  top:867px;
  width:30px;
  height:17px;
}
#u2031 {
  position:absolute;
  left:2px;
  top:0px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2032_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2032 {
  position:absolute;
  left:1113px;
  top:542px;
  width:73px;
  height:29px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2033 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u2034_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2034 {
  position:absolute;
  left:1182px;
  top:534px;
  width:60px;
  height:46px;
}
#u2035 {
  position:absolute;
  left:2px;
  top:15px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2036_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u2036 {
  position:absolute;
  left:1252px;
  top:543px;
  width:25px;
  height:29px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u2037 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u2038_div {
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:61px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:3px 3px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:3px 3px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:3px 3px 5px rgba(0, 0, 0, 0.349019607843137);
  font-size:30px;
}
#u2038 {
  position:absolute;
  left:832px;
  top:1021px;
  width:178px;
  height:61px;
  font-size:30px;
}
#u2039 {
  position:absolute;
  left:2px;
  top:13px;
  width:174px;
  word-wrap:break-word;
}
#u2040_div {
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:61px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:3px 3px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:3px 3px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:3px 3px 5px rgba(0, 0, 0, 0.349019607843137);
  font-size:30px;
}
#u2040 {
  position:absolute;
  left:1062px;
  top:1021px;
  width:178px;
  height:61px;
  font-size:30px;
}
#u2041 {
  position:absolute;
  left:2px;
  top:13px;
  width:174px;
  word-wrap:break-word;
}
#u2042_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2042 {
  position:absolute;
  left:367px;
  top:287px;
  width:73px;
  height:29px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2043 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u2044_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2044 {
  position:absolute;
  left:1305px;
  top:542px;
  width:73px;
  height:29px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2045 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u2046 {
  position:absolute;
  left:1370px;
  top:541px;
  width:114px;
  height:34px;
}
#u2046_input {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:34px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u2046_input:disabled {
  color:grayText;
}
