body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1920px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2047_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:104px;
  background:inherit;
  background-color:rgba(56, 94, 169, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2047 {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:104px;
}
#u2048 {
  position:absolute;
  left:2px;
  top:44px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2049_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:74px;
}
#u2049 {
  position:absolute;
  left:1609px;
  top:15px;
  width:74px;
  height:74px;
}
#u2050 {
  position:absolute;
  left:2px;
  top:29px;
  width:70px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2051_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u2051 {
  position:absolute;
  left:1693px;
  top:34px;
  width:129px;
  height:37px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u2052 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u2053_div {
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:1102px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2053 {
  position:absolute;
  left:0px;
  top:104px;
  width:251px;
  height:1102px;
}
#u2054 {
  position:absolute;
  left:2px;
  top:543px;
  width:247px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2055_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:42px;
}
#u2055 {
  position:absolute;
  left:37px;
  top:34px;
  width:50px;
  height:42px;
}
#u2056 {
  position:absolute;
  left:2px;
  top:13px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2057_div {
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:75px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2057 {
  position:absolute;
  left:0px;
  top:160px;
  width:251px;
  height:75px;
}
#u2058 {
  position:absolute;
  left:2px;
  top:30px;
  width:247px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2059_div {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2059 {
  position:absolute;
  left:37px;
  top:174px;
  width:160px;
  height:47px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2060 {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  word-wrap:break-word;
}
#u2061_div {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2061 {
  position:absolute;
  left:37px;
  top:253px;
  width:160px;
  height:47px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2062 {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  word-wrap:break-word;
}
#u2063_div {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2063 {
  position:absolute;
  left:37px;
  top:331px;
  width:160px;
  height:47px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2064 {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  word-wrap:break-word;
}
#u2065_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:19px;
}
#u2065 {
  position:absolute;
  left:1826px;
  top:43px;
  width:21px;
  height:19px;
}
#u2066 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2067_div {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2067 {
  position:absolute;
  left:37px;
  top:410px;
  width:160px;
  height:47px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2068 {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  word-wrap:break-word;
}
#u2069_div {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2069 {
  position:absolute;
  left:37px;
  top:495px;
  width:160px;
  height:47px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2070 {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  word-wrap:break-word;
}
#u2071_div {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:30px;
}
#u2071 {
  position:absolute;
  left:326px;
  top:151px;
  width:123px;
  height:35px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:30px;
}
#u2072 {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  white-space:nowrap;
}
#u2073_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1670px;
  height:2px;
}
#u2073 {
  position:absolute;
  left:251px;
  top:195px;
  width:1669px;
  height:1px;
}
#u2074 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1665px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2075_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1112px;
  height:195px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
  color:#949494;
  text-align:left;
}
#u2075 {
  position:absolute;
  left:450px;
  top:287px;
  width:1112px;
  height:195px;
  font-size:24px;
  color:#949494;
  text-align:left;
}
#u2076 {
  position:absolute;
  left:2px;
  top:2px;
  width:1108px;
  word-wrap:break-word;
}
#u2077 {
  position:absolute;
  left:612px;
  top:542px;
  width:100px;
  height:29px;
  font-size:24px;
  text-align:center;
}
#u2078 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u2077_input {
  position:absolute;
  left:-3px;
  top:4px;
}
#u2079 {
  position:absolute;
  left:772px;
  top:542px;
  width:100px;
  height:29px;
  font-size:24px;
  text-align:center;
}
#u2080 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u2079_input {
  position:absolute;
  left:-3px;
  top:4px;
}
#u2081 {
  position:absolute;
  left:940px;
  top:542px;
  width:100px;
  height:29px;
  font-size:24px;
  text-align:center;
}
#u2082 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u2081_input {
  position:absolute;
  left:-3px;
  top:4px;
}
#u2083_div {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2083 {
  position:absolute;
  left:450px;
  top:542px;
  width:121px;
  height:29px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2084 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u2085_div {
  position:absolute;
  left:0px;
  top:0px;
  width:625px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
  color:#949494;
  text-align:left;
}
#u2085 {
  position:absolute;
  left:450px;
  top:621px;
  width:625px;
  height:45px;
  font-size:24px;
  color:#949494;
  text-align:left;
}
#u2086 {
  position:absolute;
  left:2px;
  top:8px;
  width:621px;
  word-wrap:break-word;
}
#u2087_div {
  position:absolute;
  left:0px;
  top:0px;
  width:625px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
  color:#949494;
  text-align:left;
}
#u2087 {
  position:absolute;
  left:450px;
  top:699px;
  width:625px;
  height:45px;
  font-size:24px;
  color:#949494;
  text-align:left;
}
#u2088 {
  position:absolute;
  left:2px;
  top:8px;
  width:621px;
  word-wrap:break-word;
}
#u2089_div {
  position:absolute;
  left:0px;
  top:0px;
  width:625px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
  color:#949494;
  text-align:left;
}
#u2089 {
  position:absolute;
  left:450px;
  top:777px;
  width:625px;
  height:45px;
  font-size:24px;
  color:#949494;
  text-align:left;
}
#u2090 {
  position:absolute;
  left:2px;
  top:8px;
  width:621px;
  word-wrap:break-word;
}
#u2091_div {
  position:absolute;
  left:0px;
  top:0px;
  width:625px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
  color:#949494;
  text-align:left;
}
#u2091 {
  position:absolute;
  left:450px;
  top:855px;
  width:625px;
  height:45px;
  font-size:24px;
  color:#949494;
  text-align:left;
}
#u2092 {
  position:absolute;
  left:2px;
  top:8px;
  width:621px;
  word-wrap:break-word;
}
#u2093 {
  position:absolute;
  left:1113px;
  top:629px;
  width:127px;
  height:29px;
  font-size:24px;
  text-align:center;
}
#u2094 {
  position:absolute;
  left:16px;
  top:0px;
  width:109px;
  word-wrap:break-word;
}
#u2093_input {
  position:absolute;
  left:-3px;
  top:4px;
}
#u2095 {
  position:absolute;
  left:1113px;
  top:707px;
  width:127px;
  height:29px;
  font-size:24px;
  text-align:center;
}
#u2096 {
  position:absolute;
  left:16px;
  top:0px;
  width:109px;
  word-wrap:break-word;
}
#u2095_input {
  position:absolute;
  left:-3px;
  top:4px;
}
#u2097 {
  position:absolute;
  left:1113px;
  top:785px;
  width:127px;
  height:29px;
  font-size:24px;
  text-align:center;
}
#u2098 {
  position:absolute;
  left:16px;
  top:0px;
  width:109px;
  word-wrap:break-word;
}
#u2097_input {
  position:absolute;
  left:-3px;
  top:4px;
}
#u2099 {
  position:absolute;
  left:1113px;
  top:863px;
  width:127px;
  height:29px;
  font-size:24px;
  text-align:center;
}
#u2100 {
  position:absolute;
  left:16px;
  top:0px;
  width:109px;
  word-wrap:break-word;
}
#u2099_input {
  position:absolute;
  left:-3px;
  top:4px;
}
#u2101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:32px;
}
#u2101 {
  position:absolute;
  left:1383px;
  top:629px;
  width:35px;
  height:32px;
}
#u2102 {
  position:absolute;
  left:2px;
  top:8px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:33px;
}
#u2103 {
  position:absolute;
  left:1442px;
  top:629px;
  width:38px;
  height:33px;
}
#u2104 {
  position:absolute;
  left:2px;
  top:8px;
  width:34px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:18px;
}
#u2105 {
  position:absolute;
  left:1274px;
  top:636px;
  width:32px;
  height:18px;
}
#u2106 {
  position:absolute;
  left:2px;
  top:1px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:17px;
}
#u2107 {
  position:absolute;
  left:1326px;
  top:637px;
  width:30px;
  height:17px;
}
#u2108 {
  position:absolute;
  left:2px;
  top:0px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:32px;
}
#u2109 {
  position:absolute;
  left:1383px;
  top:705px;
  width:35px;
  height:32px;
}
#u2110 {
  position:absolute;
  left:2px;
  top:8px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:33px;
}
#u2111 {
  position:absolute;
  left:1442px;
  top:705px;
  width:38px;
  height:33px;
}
#u2112 {
  position:absolute;
  left:2px;
  top:8px;
  width:34px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:18px;
}
#u2113 {
  position:absolute;
  left:1274px;
  top:712px;
  width:32px;
  height:18px;
}
#u2114 {
  position:absolute;
  left:2px;
  top:1px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:17px;
}
#u2115 {
  position:absolute;
  left:1326px;
  top:713px;
  width:30px;
  height:17px;
}
#u2116 {
  position:absolute;
  left:2px;
  top:0px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:32px;
}
#u2117 {
  position:absolute;
  left:1383px;
  top:785px;
  width:35px;
  height:32px;
}
#u2118 {
  position:absolute;
  left:2px;
  top:8px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:33px;
}
#u2119 {
  position:absolute;
  left:1442px;
  top:785px;
  width:38px;
  height:33px;
}
#u2120 {
  position:absolute;
  left:2px;
  top:8px;
  width:34px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:18px;
}
#u2121 {
  position:absolute;
  left:1274px;
  top:792px;
  width:32px;
  height:18px;
}
#u2122 {
  position:absolute;
  left:2px;
  top:1px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:17px;
}
#u2123 {
  position:absolute;
  left:1326px;
  top:793px;
  width:30px;
  height:17px;
}
#u2124 {
  position:absolute;
  left:2px;
  top:0px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:32px;
}
#u2125 {
  position:absolute;
  left:1383px;
  top:859px;
  width:35px;
  height:32px;
}
#u2126 {
  position:absolute;
  left:2px;
  top:8px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2127_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:33px;
}
#u2127 {
  position:absolute;
  left:1442px;
  top:859px;
  width:38px;
  height:33px;
}
#u2128 {
  position:absolute;
  left:2px;
  top:8px;
  width:34px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2129_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:18px;
}
#u2129 {
  position:absolute;
  left:1274px;
  top:866px;
  width:32px;
  height:18px;
}
#u2130 {
  position:absolute;
  left:2px;
  top:1px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2131_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:17px;
}
#u2131 {
  position:absolute;
  left:1326px;
  top:867px;
  width:30px;
  height:17px;
}
#u2132 {
  position:absolute;
  left:2px;
  top:0px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2133_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2133 {
  position:absolute;
  left:1113px;
  top:542px;
  width:73px;
  height:29px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2134 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u2135_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2135 {
  position:absolute;
  left:1182px;
  top:534px;
  width:60px;
  height:46px;
}
#u2136 {
  position:absolute;
  left:2px;
  top:15px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2137_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u2137 {
  position:absolute;
  left:1252px;
  top:543px;
  width:25px;
  height:29px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u2138 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u2139_div {
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:61px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:3px 3px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:3px 3px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:3px 3px 5px rgba(0, 0, 0, 0.349019607843137);
  font-size:30px;
}
#u2139 {
  position:absolute;
  left:832px;
  top:1021px;
  width:178px;
  height:61px;
  font-size:30px;
}
#u2140 {
  position:absolute;
  left:2px;
  top:13px;
  width:174px;
  word-wrap:break-word;
}
#u2141_div {
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:61px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:3px 3px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:3px 3px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:3px 3px 5px rgba(0, 0, 0, 0.349019607843137);
  font-size:30px;
}
#u2141 {
  position:absolute;
  left:1062px;
  top:1021px;
  width:178px;
  height:61px;
  font-size:30px;
}
#u2142 {
  position:absolute;
  left:2px;
  top:13px;
  width:174px;
  word-wrap:break-word;
}
#u2143_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2143 {
  position:absolute;
  left:367px;
  top:287px;
  width:73px;
  height:29px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2144 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u2145_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2145 {
  position:absolute;
  left:1305px;
  top:542px;
  width:73px;
  height:29px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2146 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u2147 {
  position:absolute;
  left:1370px;
  top:541px;
  width:114px;
  height:34px;
}
#u2147_input {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:34px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u2147_input:disabled {
  color:grayText;
}
